version: "3"
services:
  go:
    build:
      context: ./go
    environment:
      - SQLITE_DB_NAME=${SQLITE_DB_NAME}
      - SERVER_PORT=:${SERVER_PORT}
    ports:
      - "9512:9512"
    volumes:
      - ../..:/go
      # go pkg cache
      - ~/go/pkg:/home/go/go/pkg
  sqlite3:
    image: nouchka/sqlite3:latest
    hostname: retropie-stats_sqlite3
    restart: always
    stdin_open: true
    tty: true
    volumes:
      - ./data/sqlite3:/root/db/